@import './styles/variables'; // for transitions
@import './styles/mixins';

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // transition: background-color $transition-speed-normal $transition-ease, color $transition-speed-normal $transition-ease;
}

